.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--brend-color);
  text-decoration-line: none;
  margin-right: 93px;
}

.logo--black {
  color: var(--main-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding-top: var(--pading-32);
  padding-bottom: var(--pading-32);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration-line: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link--current {
  color: var(--brend-color);
  position: relative;
}

.menu__link--current::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--brend-color);
  border-radius: 2px;
}

.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  font-style: normal;
  color: var(--secondary-color);
  padding-top: var(--pading-32);
  padding-bottom: var(--pading-32);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  margin-right: 10px;
  fill: var(--secondary-color);
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link:hover .contact__icon,
.contacts__link:focus .contact__icon {
  fill: var(--brend-color);
}

.menu__link:hover,
.contacts__link:hover,
.menu__link:focus,
.contacts__link:focus {
  color: var(--brend-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.bg-img {
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-Img.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero__title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  margin: 0 auto 30px auto;
}

.hero__btn {
  padding: 10px 32px;
  background: var(--brend-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--light-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--brand-bg-color);
}

.title--hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
  padding-bottom: 0;
}

.about_item {
  width: 100%;
  height: 120px;
  background-color: var(--backgrd-color);
  border-radius: 4px;
  margin-bottom: var(--margin-30);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_margin:not(:last-child) {
  margin-right: var(--margin-30);
}

.about_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: var(--margin-10);
}

.about_text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.about-more {
  padding-top: 0px;
}

.about-img {
  flex-basis: 33.3333333333%;
  margin-right: var(--margin-30);
}

.about-more-wrap {
  position: relative;
}

.about-more-text {
  width: calc(100% - 30px);
  height: 70px;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.masters {
  background-color: var(--backgrd-color);
}

.masters-container {
  margin-left: -30px;
}

.masters-photo {
  flex-basis: calc(50% - 30px);
  margin-left: var(--margin-30);
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.masters-name {
  padding-top: var(--margin-30);
  padding-bottom: var(--margin-30);
}

.masters-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--margin-10);
}

.proffesion {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.masters-name > .icon-flex {
  margin: 0 32px;
}

.masters-soc-item {
  width: 100%;
  height: 44px;
  background-color: var(--light-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-soc-item:not(:last-child) {
  margin-right: var(--margin-10);
}

.masters-soc-icon {
  fill: var(--icons-master-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-soc-item:hover,
.masters-soc-item:focus {
  background-color: var(--brend-color);
}

.masters-soc-item:hover .masters-soc-icon,
.masters-soc-item:focus .masters-soc-icon {
  fill: var(--light-color);
}

.client-soc-item {
  width: 100%;
  height: 92px;
  border: 1px solid var(--icons-master-color);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-soc-item:not(:last-child) {
  margin-right: var(--margin-30);
}

.client-soc-icon {
  fill: var(--icons-master-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-soc-item:hover .client-soc-icon,
.client-soc-item:focus .client-soc-icon,
.client-soc-item:hover,
.client-soc-item:focus {
  fill: var(--brend-color);
  border-color: var(--brend-color);
}

.footer-section {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section > .container {
  display: flex;
  justify-content: space-between;
}

.logo--white {
  color: var(--light-color);
}

.footer-contacts-link {
  font-weight: 400;
  line-height: 1.71;
  text-decoration-line: none;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--light-color);
  opacity: 60%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--brend-color);
  opacity: 100%;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-list :not(:last-child) {
  margin-bottom: 9px;
}

.contacts-addres {
  color: var(--light-color);
  opacity: 100%;
}

.footer-padding {
  padding-top: 15px;
  padding-bottom: 37px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 20px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-icon {
  fill: var(--light-color);
}

.footer-soc-item:hover,
.footer-soc-item:focus {
  background-color: var(--brend-color);
}

.footer-sending {
  right: 0px;
}

.footer-modal-field {
  display: flex;
}

.fotter-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--light-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter-input:hover,
.fotter-input:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
}

.footer-sendign-icon {
  fill: var(--light-color);
  margin-left: 10px;
}

.footer-sending_btn {
  display: block;
  width: 200px;
  height: 50px;
  background: var(--brend-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sending_btn:hover,
.footer-sending_btn:focus {
  background-color: var(--brand-bg-color);
}/*# sourceMappingURL=main.css.map */